[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ARTtransfer"]
	path = ARTtransfer
	url = https://github.com/boxiang-wang/arttransfer
[submodule "CUSUMdesign"]
	path = CUSUMdesign
	url = https://github.com/boxiang-wang/cusumdesign
[submodule "dcsvm"]
	path = dcsvm
	url = https://github.com/cran/dcsvm
[submodule "kerndwd"]
	path = kerndwd
	url = https://github.com/cran/kerndwd
[submodule "sdwd"]
	path = sdwd
	url = https://github.com/boxiang-wang/sdwd
